.arrear-form {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.arrear-form .person-info {
    position: relative;
}

.arrear-form .header .name {
    /* font-size: 1.5rem; */
    position: relative;
    left: 12%;
}

.arrear-form .header .money {
    /* font-size: 1.5rem; */
    position: relative;
    left: 3.5%;
}

.arrear-form .header .date {
    /* font-size: 1.5rem; */
    position: relative;
    left: -2%;
}