.borrow-form {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

@media (max-width: 768px) {
    .borrow-form {
        width: 75%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
}

.borrow-form .person-info {
    position: relative;
}

.borrow-form .header .name {
    /* font-size: 1.5rem; */
    position: relative;
    left: 12%;
}
.borrow-form .header .money {
    /* font-size: 1.5rem; */
    position: relative;
    left: 3.5%;
}
.borrow-form .header .date {
    /* font-size: 1.5rem; */
    position: relative;
    left: -2%;
}
.checkAlert{
    height: 100% ;
    width: 45%
}
