.register
{
	height: 100%;
}
.register .header {
	font-size: 4rem;
	font-family: 'Indie Flower', cursive;
	color: rgb(18, 108, 168);
	text-align: center;
	
}
.register .content {
	position: relative;
	top: 100px;

}

.register .row {
	margin-bottom: 12.5px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.register .button1{
	width: 50%;
}

.register .button2{
	width: 50%;
}