.register {
	height: 100%;
}

.register .header {
	font-size: 4rem;
	font-family: 'Indie Flower', cursive;
	color: rgb(18, 108, 168);
	text-align: center;
	font-weight: bolder;
}

.register .wrapper {
	position: relative;
	width: 50%;
	top: 80px;
	margin-left: auto;
	margin-right: auto;
}

.register .content {
	/* margin: 2rem; */
}

.register .row {
	margin-bottom: 12.5px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.register .button1 {
	width: 50%;
}

.register .button2 {
	width: 50%;
}